<strong>Olá, {{ user }}</strong>
<p>Para recuperar sua senha, utilize o token que estamos disponibilzando para você:</p>
<p>
  Token: <strong>{{ token }}</strong> <br />
  <br />
  Este Token irá expirar em <strong>1h</strong>.
</p>
